.small-container, .large-container, .popup-container {
    background-color: #9DA1AE;
    color: #FFF !important;
}

#settings-container {
    background-color: #9DA1AE;
    color: #FFF !important;
}

#settings-icon:hover {
    background-color: #369;
}

#types-container {
    background-color: #9DA1AE;
    color: #FFF !important;
}

.accounts-table {
    color: #032C46;
}

.navigation-column {
    background-color: #032C46;
    color: #101010;
    margin: 5px;
}

.navigation-item {
    color: #FFFFFF !important;
    background-color: #9DA1AE;
    border: none;
    transition: background-color 0.5s ease;
    transition: max-height 1s ease;
}
.navigation-item:hover {
    background-color: #C4C7CF;
}

.navigation-item:nth-last-of-type(2) {
    background-color: #6E7688;
    border: solid 1px #505C71;
}

.navigation-item:nth-last-of-type(2):hover {
    background-color: #C4C7CF;
    border: solid 1px #032334;
}

.navigation-item:nth-last-of-type(3) {
    background-color: #505C71;
    border: solid 1px #31465C;
}

.navigation-item:nth-last-of-type(3):hover {
    background-color: #C4C7CF;
    border: solid 1px #032334;
}

.navigation-item:nth-last-of-type(4) {
    background-color: #31465C;
    border: solid 1px #20353A;
}

.navigation-item:nth-last-of-type(4):hover {
    background-color: #C4C7CF;
    border: solid 1px #032334;
}

.navigation-item:nth-last-of-type(5) {
    background-color: #20353A;
    border: solid 1px #102219;
}

.navigation-item:nth-last-of-type(5):hover {
    background-color: #C4C7CF;
    border: solid 1px #032334;
}

.navigation-item-menu {
    border: solid 1px #505C71;
    background-color: #838EA4;
}

.navigation-item-menu-item {
    color: #FFFFFF;
}

.navigation-item .button {
    box-shadow: none !important;
}

.metadata-form {
    background-color: #9DA1AE;
    box-shadow: none !important;
}

.metadata-form .metadata-form-title {
    color: #212121;
}

.parameter-display-area {
    color: #032C46;
}

.search-form, .filter-form {
    background-color: #9DA1AE;
    color: #032334;
}

.search-result {
    border: solid 1px #000;
    background-color: #032C46;
    color: #FFF;

    transition: background-color 0.5s ease;
}

.unapproved-search-result {
    border: dashed 2px #FFF;
    background-color: #032C46;
    color: #FFF;

    transition: background-color 0.5s ease;
}

.parameter {
    border: solid 1px #000;
    background-color: #032C46;
    color: #FFF;

    transition: background-color 0.5s ease;
}

.parameter .input-field label {
    color: #FFF;
}

.parameter .input-field-small label {
    color: #FFF;
}

.parameter-display-area i:hover {
    color: #9CF;
}

.dropdown {
    color: #032334;
}

.child-item, .unreleased-child-item {
    color: #032334;
    background-color: #9DA1AE;
    transition: background-color 0.5s ease;
}

.unreleased-child-item {
    box-sizing: border-box;
    border: 2px dashed #FFFFFF;
}

.child-item:hover, .unreleased-child-item:hover {
    background-color: #C4C7CF;
}

.child-item-title {
    border-bottom: solid 1px #032334;
}

.child-item:hover .child-item-title {
    border-bottom: solid 1px #032334;
}

.child-item-menu-item {
    background-color: #838EA4;
}

.child-item:hover .child-item-menu-item {
    background-color: #838EA4;
}

#header .role-toggle, #header .role {
    border: 1px solid rgba(0, 0, 0, 0.5) !important;
    color: #DDD;
}
