.input-field {
    float: left;
    position: relative;
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 1em;
    font-size: 0.85rem;
}

.input-field label {
    display: block;
    color: #353535;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700 !important;
    text-align: left;
}

.input-field input[type="checkbox"] {
    margin: 0.25em;
    width: auto;
}
@supports (zoom:2) {
    .input-field input[type="checkbox"] {
        zoom: 2;
    }
}
@supports not (zoom:2) {
    .input-field input[type="checkbox"] {
        transform: scale(2);
        transform-origin: left top;
    }
}

.input-field input, .input-field textarea {
    border: solid 1px #CCCCCC;
}

.input-field input, .input-field select, .input-field textarea {
    width: 100%;
    font-weight: normal !important;
    padding: 0.50em;
    font-size: 1rem;
    margin: 0px;
    box-sizing: border-box;
}

.input-field select {
    width: auto;
    min-width: 50%;
}

.input-field select {
    height: 2.3em;
}

.input-field textarea {
    height: 8em;
}

.input-field-small {
    float: left;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding: 1em 1em;
    font-size: 0.85rem;
}

.input-field-small label {
    display: inline;
    color: #353535;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700 !important;
    text-align: left;
    vertical-align: middle;
}

.input-field-small input, .input-field-small select {
    margin-left: 0.5em;
    font-weight: normal !important;
    padding: 0.50em;
    font-size: 1rem;
    box-sizing: border-box;
}

.input-field-small input, .input-field-small textarea {
    border: solid 1px #CCCCCC;
    vertical-align: middle;
    margin-left: 5px;
    display: inline-block;
}

.input-field .filtered-results, .input-field-small .filtered-results {
    width: 100%;
    max-height: 360px;
    margin: 0;
    box-sizing: border-box;
    border: solid 1px #CCCCCC;
    border-top: none;
    background-color: #FFF;
    position: absolute;
    z-index: 1;
    overflow-y: auto;
}

.filtered-result, .selected-result {
    padding: 0.5em;
    cursor: default;
    font-size: 1rem;
}

.filtered-result:nth-child(even) {
    background-color: #EEEEEE;
}

.selected-result {
    background-color: #FFEE77;
}

.dropdown {
    position: relative;
}

.input-field-small .dropdown {
    display: inline-block;
}

.input-icons {
    float: right;
    color: red;
}