.input-field {
    position: relative;
    min-width: 33%;
    display: inline-block;
    box-sizing: border-box;
    padding: 2em 3em;
    font-size: 0.85rem;
}

.input-field label {
    float: left;
    display: block;
    clear: none;
    color: #353535;
    font-family: 'Lato', sans-serif !important;
    font-weight: 700 !important;
}

.input-field input, .input-field textarea {
    border: solid 1px #CCCCCC;
}

.input-field input, .input-field select, .input-field textarea {
    width: 100%;
    font-weight: normal !important;
    padding: 0.50em;
    font-size: 1rem;
    margin: 0px;
    box-sizing: border-box;
}
