.navigation-column {
    border-color: #CCCCCC;
    background-color: #D0D0D0;
    box-shadow: 2px 0px 5px 0px #A0A0A0;
    color: #101010;
}

.navigation-item {
    background-color: #FFDD66;
    border: solid 1px #BBAA22;
    box-shadow: 5px 5px 5px #808080;

    transition: background-color 0.5s ease;
    transition: max-height 1s ease;
}
.navigation-item:hover {
    background-color: #FFEE77;
}

.navigation-item:nth-last-of-type(2) {
    background-color: #ECD379;
    border: solid 1px #A79935;
}

.navigation-item:nth-last-of-type(2):hover {
    background-color: #FFEE77;
    border: solid 1px #BBAA22;
}

.navigation-item:nth-last-of-type(3) {
    background-color: #D9C88C;
    border: solid 1px #948B47;
}

.navigation-item:nth-last-of-type(3):hover {
    background-color: #FFEE77;
    border: solid 1px #BBAA22;
}

.navigation-item:nth-last-of-type(4) {
    background-color: #C6BD9F;
    border: solid 1px #807C5B;
}

.navigation-item:nth-last-of-type(4):hover {
    background-color: #FFEE77;
    border: solid 1px #BBAA22;
}

.navigation-item:nth-last-of-type(5) {
    background-color: #B3B3B3;
    border: solid 1px #6E6E6E;
}

.navigation-item:nth-last-of-type(5):hover {
    background-color: #FFEE77;
    border: solid 1px #BBAA22;
}

.metadata-form {
    background-color: #EDEDED;
    box-shadow: 0px 0px 15px #CCCCCC;
}

.metadata-form .metadata-form-title {
    color: #A0A0A0;
}

.search-result-form {
    background-color: #EDEDED;
    box-shadow: 0px 0px 15px #CCCCCC;
}

.search-result-form .search-result-form-title {
    color: #A0A0A0;
}

.function-catalog {
    border: solid 1px #C0C0C0;
    background-color: #EEEEEE;

    transition: background-color 0.5s ease;
}

.function-catalog:hover {
    background-color: #FFDD66;
}

.function-catalog-title {
    border-bottom: solid 1px #C0C0C0;
}

.function-catalog:hover .function-catalog-title {
    border-bottom: solid 1px #BBAA22;
}

.function-catalog-menu-item {
    background-color: #DDDDDD;
}

.function-catalog:hover .function-catalog-menu-item {
    background-color: #F9EE99;
}

.navigation-item-menu {
    border: solid 1px #DED480;
    background-color: #F9EE99;
}

.navigation-item-menu-item {
    color: #7D7B67;
}