.toolbar {
    background: none;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
}

.toolbar .toolbar-item {
    background-color: #505C71;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 2px;
    height: 75px;
    width: 75px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    cursor: pointer;

    transition: color 0.5s ease;
}

.toolbar .navigation-indicator, .unreleased-navigation-indicator {
    background-color: #505C71;
    color: #FFFFFF;
    border-radius: 5px;
    margin: 2px;
    height: 75px;
    min-width: 75px;
    padding-right: 1em;
    padding-left: 1em;

    display: inline-grid;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    cursor: pointer;

    transition: color 0.5s ease;
}

.unreleased-navigation-indicator {
    box-sizing: border-box;
    border: 1px dashed #FFFFFF;
}

.toolbar .navigation-indicator i {
    margin: 5px;
}

.toolbar .toolbar-item:hover, .navigation-indicator:hover, .unreleased-navigation-indicator:hover {
    background-color: #9DA1AE;
}

.toolbar .toolbar-item i {
    font-size: 55px;
    padding-top: 5px;
    color: #FFFFFF;
}
