<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Tidy Duck</display-name>
    <description>Tidy Duck - MOST XML Generator</description>

    <servlet>
        <servlet-name>Account</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.AccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountManagement</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.AccountManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Settings</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.SettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostGenerator</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.MostGeneratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionCatalog</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.FunctionCatalogServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionBlock</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.FunctionBlockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostInterface</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.MostInterfaceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostFunction</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.MostFunctionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostType</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.MostTypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostFunctionStereotype</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.MostFunctionStereotypeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.ReviewServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/api/v1/account</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/api/v1/account/authenticate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Account</servlet-name>
        <url-pattern>/api/v1/account/logout</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AccountManagement</servlet-name>
        <url-pattern>/api/v1/account/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Settings</servlet-name>
        <url-pattern>/api/v1/settings</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MostGenerator</servlet-name>
        <url-pattern>/v1/generate-most</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FunctionCatalog</servlet-name>
        <url-pattern>/api/v1/function-catalogs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionCatalog</servlet-name>
        <url-pattern>/api/v1/function-catalogs/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FunctionBlock</servlet-name>
        <url-pattern>/api/v1/function-blocks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionBlock</servlet-name>
        <url-pattern>/api/v1/function-blocks/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MostInterface</servlet-name>
        <url-pattern>/api/v1/most-interfaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostInterface</servlet-name>
        <url-pattern>/api/v1/most-interfaces/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MostFunction</servlet-name>
        <url-pattern>/api/v1/most-functions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostFunction</servlet-name>
        <url-pattern>/api/v1/most-functions/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MostType</servlet-name>
        <url-pattern>/api/v1/most-types</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostType</servlet-name>
        <url-pattern>/api/v1/most-types/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MostFunctionStereotype</servlet-name>
        <url-pattern>/api/v1/most-function-stereotypes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostType</servlet-name>
        <url-pattern>/api/v1/most-function-stereotypes/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/api/v1/reviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/api/v1/reviews/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/api/v1/review-votes/*</url-pattern>
    </servlet-mapping>


    <session-config>
        <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
