#account-area {
    position: absolute;
    top: 0px;
    right: 0px;
}

#backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: 2;
}

#logout {
    height: 0.8em;
    margin-left: 10px;
    cursor: pointer;
}

#settings-icon {
    padding: 5px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
}

.small-container {
    width: 300px;
    display: block;
    margin: 2em 2em auto 0;

    border: 0px solid;
    border-radius: 5px;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

.small-container h2 i {
    cursor: pointer;
}

.large-container {
    border: 0px solid;
    border-radius: 5px;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    margin: 2em;
    width: calc(100% - 6em);
}

.popup-container {
    position: fixed;
    width: 300px;
    display: block;
    margin: 2em 2em auto 0;

    border: 0px solid;
    border-radius: 5px;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;

    z-index: 10;
}

.cancel-button button {
    background-color: #D0D0D0;
    margin: 0.5em;
}

.small-container h1, .large-container h1, .popup-container h1 {
    font-size: 1.5rem;
    text-align: center;
}

.small-container h2, .large-container h2, .popup-container h2 {
    font-size: 1.2rem;
    margin: 0;
    text-align: center;
}

.small-container .input-field, .popup-container .input-field {
    width: 100%;
}

.small-container .input-field select, .popup-container .input-field select, #settings-container select {
    width: 100%;
}

#settings-container {
    width: 300px;
    min-height: 192px;
    display: block;
    margin: 2em auto auto auto;

    border: 0px solid;
    border-radius: 5px;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#settings-container h1 {
    font-size: 1.5rem;
    text-align: center;
}

#settings-container .input-field {
    width: 100%;
}

.settings-success-container {
    text-align: center;
    display: inline-grid;
}

.settings-success-container h2 {
    font-size: 1.25em;
    margin: 0.25em 0;
}

.settings-success-container i {
    font-size: 2.5em;
}

#types-container {
    width: 80%;
    display: block;
    margin: 3em auto auto auto;

    border: 0px solid;
    border-radius: 5px;

    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}

#types-main-inputs .input-field {
    display: block;
    padding: 1em 3em;
}

#types-options-container {
    padding: 1em;
}

#type-selector-info {
    cursor: pointer;
}

#extended-type-fields {
    clear: left;
    border: #AAA solid thin;
    border-radius: 5px;
    background-color: rgba(128, 128, 128, 0.25);
    margin: 1em 3em;
    padding: 1em;
}

.role-toggle {
    display: inline-flex;
    margin: auto 0.5em;
    text-align: center;
    vertical-align: middle;
    line-height: 250%;
    border: solid 0px #EEEEEE;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
    margin-top: -5px;
    box-shadow: inset 0px 0px 5px #000000;
    color: #FFFFFF;
    z-index: 2;
}

.role-toggle .role, .active-role {
    padding: 0 5px 0 5px;
    border: 0px solid;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    color: #222222;
}

#header .role-toggle {
    margin-left: 2em;
}

.role-toggle, .role {
    border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.active-role {
    background: #F0F8FF;
    border: solid 1px #AAAAAA;
}

.navigation-column {
    width: 300px;
    border-right: solid 1px;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation-item {
    width: auto;
    padding: 5px;
    margin-top: 2px;
    text-align: center;
    cursor: pointer;

    min-height: 1.2em;
    max-height: 1000px;

    transition: background-color 0.5s ease;
    transition: max-height 1s ease;
}

.display-area {
    padding: 5px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
    flex: 1;
}

.toolbar {
    padding: 5px;
}

.metadata-form {
    padding: 5px;
    width: auto;
    border: 0px solid;
    border-radius: 5px;

    margin: 20px;
    padding: 0px;
}

.metadata-form .metadata-form-title, .parameter-display-area .metadata-form-title {
    width: 100%;
    display: inline-block;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.metadata-form .metadata-form-inputs {
    float: left;
}

.search-form {
    padding: 5px;
    width: auto;
    border: 0px solid;
    border-radius: 5px;
    margin: 20px;
}

.search-form .search-form-title {
    display: inline-flex;
    font-size: 1.2em;
    font-weight: bold;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.search-form .search-result-form {
    height: 20em;
    overflow-y: auto;
    border: none;
    padding: 0;
}

.filter-form {
    padding: 5px;
    border: 0px solid;
    border-radius: 5px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-loading {
    text-align: center;
    margin-top: 100px;
    font-size: x-large;
}

.search-result-form i.loading-results {
    margin: 5px;
}

.search-bar {
    display: flex;
    position: relative;
    width:auto;
    margin: 1em;
    font-size: 1rem;
}

.search-bar input {
    padding-left: 0.5em;
    flex-grow: 1;
    border: 1px solid;
    box-shadow: none;
    border-radius: 5px;
    font-size: 1rem;
}

.search-bar .fa-search {
    position: absolute;
    left: auto;
    top: 0.25em;
    right: 0.25em;
}

.search-result, .unapproved-search-result {
    width: auto;
    border: 1px solid;
    border-radius: 5px;
    display: flex;
    margin: 1em;
    float: top;
}

.search-result i.assign-button, .unapproved-search-result i.assign-button {
    margin: 0 2px 0 auto;
    cursor: pointer;
}

.search-result-labels {
    font-weight: bold;
    text-align: left;
    width: auto;
    display: flex;
    margin: 0 1em;
    padding: 0;
}
.search-result-property {
    padding: 0;
    margin: 0.75em;
    width: 27.5%
}

.search-result-property-short {
    padding: 0;
    margin: 0.75em;
    width: 10%;
}

.search-result-property-short i {
    margin: 0 10px 0 -23px;
}

.parameter {
    width: auto;
    border: 1px solid;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin: 1em;
    float: top;
    padding: 5px;
}

.parameter i.remove-button, .repeating-field i.remove-button {
    margin: 0 2px 0 auto;
    cursor: pointer;
    margin-top: 10px;
}

.parameter-display-area {
    width:  100%;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.parameter-display-area i {
    cursor: pointer;
    margin-left: 0.25em;
}

.operation-display-area {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.child-display-area {
    padding: 5px;
}

.selected-review-display-area {
    padding: 5px;
    margin-bottom: 320px;
}

#loading-children-icon {
    margin: 10px;
}

.delete-working-icon {
    margin: 0 5px;
}

.child-item, .unreleased-child-item {
    padding: 1em;
    margin: 1em;
    min-width: 350px;
    width: 22vw;
    height: 200px;
    display: inline-block;
    box-sizing: border-box;

    border-radius: 5px;
    text-align: center;

    float: left;

    transition: background-color 0.5s ease;
}

.child-item select, .unreleased-child-item select {
    height: 2em;
    min-width: 5em;
}

.child-item-title {
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 0px;
}

.child-item-title-name {
    display: inline-block;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.child-item-title .menu-button {
    float: right;
    padding: 5px;
    margin: -5px;
    cursor: pointer;
}

.child-item-title .release-icon,
.child-item-title .approved-icon {
    float: right;
    padding: 5px;
    margin: -5px 0;
}
.child-item-title .approved-icon {
    margin-left: -3px;
}

.child-item-menu-item {
    margin: 2px;
    padding: 2px;
    text-align: center;
    cursor: pointer;
}

.child-item-menu-item i {
    margin-left: 5px;
}

.child-function-catalog-property {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.navigation-item .menu-button {
    float: right;
    margin-right: 5px;
    margin-top: 2px;
    cursor: pointer;
}

.navigation-item-menu {
    margin-top: 5px;
    margin-left: -5px;
    margin-right: -5px;
    margin-bottom: -5px;
}

.navigation-item-menu-item {
    font-size: 75%;
    padding: 2px;
}

.navigation-item-menu-item i {
    margin-left: 5px;
}

.navigation-item .metadata-form {
    background: none !important;
    box-shadow: none !important;
    margin: -5px !important;
    margin-top: 5px !important;
    cursor: default !important;
}

.navigation-item .input-field {
    padding: 0.5em 2em !important;
    width: 100% !important;
}

.navigation-item .button {
    box-shadow: none !important;
}

.interfaces-placeholder {
    padding: 1em;
    font-size: 2em;
}

.repeating-field {
    margin: 10px 0px;
    background-color: rgba(100, 100, 100, 0.1);
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, 0.1);
}

.repeating-field-header {
    display: flex;
}

.account-administration-area {
    width: 100%;
    text-align: center;
}

.create-account-area {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.accounts-table {
    width: 100%;
}

.accounts-table thead tr {
    background-color: rgba(255, 255, 255, 0.2);
}

.accounts-table th {
    padding: 5px 0px;
    font-size: 125%;
}

.accounts-table th i {
    cursor: pointer;
}

.accounts-table tbody tr {
    transition: box-shadow 0.5s ease;
}

.accounts-table tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.2);
}

.accounts-table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.4);
}

.accounts-table tbody tr:hover {
    box-shadow: 3px 6px 15px #888888;
}

.accounts-table .input-field-small {
    float: none;
}

.accounts-table div.button {
    margin: 5px 10px 10px 5px;
    width: auto;
}

.accounts-table td i {
    visibility: hidden;
    margin-right: 5px;
}

.accounts-table .user-column {
    cursor: pointer;
}

.accounts-table tbody tr:hover i {
    visibility: visible;
}

.accounts-table .user-column:hover {
    font-weight: bold;
}

.role-components {
    text-align: center;
}

#type-selector {
    height: 2em; /* expand to allow for emojis */
}

.tidy-object .icon {
    float: right;
    margin: 3px;
}

.tidy-object .action-bar {
    margin-bottom: 0.25rem;
    text-align: left;
}

.tidy-object .action-button {
    margin: 0px;
    border: solid 1px;
    padding: 0.25rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    margin-right: 0.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tidy-object .description {
    border: solid 1px;
    border-radius: 0.25rem;
    padding: 5px;
    height: 3rem;
    margin: 0px;
    text-align: left;
    border-color: rgba(0, 0, 0, 0.10);
    background-color: rgba(0, 0, 0, 0.02);
    position: relative;
    overflow-y: auto;
}

.tidy-object .description-wrapper {
    position: relative;
    padding: 0px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.tidy-object .description-wrapper:before {
    content: 'Description:';
    position: absolute;
    left: 0rem;
    top: -1rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
    font-size: 85%;
    z-index: 5;
}

.tidy-object .version:before {
    content: 'Version:';
    font-size: 75%;
    bottom: 0.05rem;
    position: relative;
    left: -0.25rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.5);
}

.svg-icon {
    padding: 10px;
    height: calc(100% - 20px);
    width: auto;
}