#reviews-container {
    background-color: #EDEDED;
    box-shadow: 0px 0px 15px #CCCCCC;

    width: 80%;
    display: block;
    margin: 3em auto 3em auto;
    border: 0px solid;
    border-radius: 5px;
    padding: 0 1em;
}

.review-entry {
    cursor: pointer;
    margin: 1em 0;
    border: #CCC solid thin;
    border-radius: 5px;

    transition: background-color 0.5s ease;
}

.review-name {
    padding: 5px;
    font-weight: bold;
    border-bottom: #CCC solid thin;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

.review-content {
    padding: 5px;
}

.review-content table th {
    min-width: 125px;
    text-align: left;
}
