html, body {
    margin: 0;
    height: 100%;
    padding: 0;
}

body * {
    font-family: 'Libre Baskerville', serif;
    color: #4A4A4A;
}

.header {
    position: absolute;
    line-height: 50px;
    font-size: 32px;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;

    font-weight: bold;
    padding-left: 10px;
}

.container {
    border: solid 2px;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation-column {
    width: 20%;
    border-right: solid;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.navigation-entry {
    width: auto;
    padding: 5px;
    margin-top: 2px;
    text-align: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.display-area {
    width: 80%;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: left;
}

.toolbar {
    padding: 5px;
}
.metadata-form {
    padding: 5px;
    width: auto;
    border: 2px solid;
    border-radius: 5px;
}

.metadata-form table {
    margin: auto;
    padding: 8px;
}

.metadata-form td {
    padding: 5px;
}

.child-display-area {
    padding: 5px;
}

.function-catalog {
    padding: 5px;
    margin-top: 10px;
    margin-right: 12px;
    float: left;
    width: 30%;
    border: 2px solid;
    border-radius: 5px;
    text-align: center;
}

.navigation-entry:hover {
    background-color: #FFDD66;
    cursor: pointer;
}
