<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Tidy Duck</display-name>
    <description>
        Tidy Duck - MOST XML Generator
    </description>

    <servlet>
        <servlet-name>MostGenerator</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.MostGeneratorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FunctionCatalog</servlet-name>
        <servlet-class>com.softwareverde.tidyduck.api.FunctionCatalogServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MostGenerator</servlet-name>
        <url-pattern>/generate-most</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FunctionCatalog</servlet-name>
        <url-pattern>/api/v1/function-catalog</url-pattern>
    </servlet-mapping>

    <session-config>
        <session-timeout>30</session-timeout>    <!-- 30 minutes -->
    </session-config>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>