.alert {
    position: fixed;
    padding: 10px;
    border: solid 1px rgba(0, 0, 0, 1);
    background-color: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    text-align: center;
    box-shadow: 2px 5px 15px #000000;
    z-index: 999; /* Nein! Nein! Nein! */
    min-height: 200px;
}

.alert .alert-title {
    cursor: move;
    color: #FFFFFF;
    font-size: 130%;
    border-bottom: solid 1px #AAAAAA; 
    text-align: left;
    padding-top: 10px;
}

.alert .alert-content {
    color: #CCCCCC;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: left;
    min-height: 115px;
}

.alert .alert-content * {
    color: inherit;
}

.alert .alert-button {
    border: solid 1px #505050;
    padding: 5px;
    margin: 0 10px;
    display: inline-block;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.alert .alert-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
